<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Menú de Opciones</h1>
    <ul>
        <li><a href="/inscripcion">Inscripción en Curso</a></li>
        <li><a href="/registro_usuarios">Registro de Usuarios</a></li>
        <li><a href="/registro_productos">Registro de Productos</a></li>
        <li><a href="/registro_libros">Registro de Libros</a></li>
    </ul>
</body>
</html>